body {
    display: flex;
    justify-content: center;
    background-color: #393C8A;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: 1em;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
}