* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #393C8A;
    font-family: 'Merienda One', cursive;
    font-size: 1.4em;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: 1em;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    box-shadow: inset 0 0 10px #000000;
    overflow: hidden;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: .2em 0;
}

h3 {
    font-size: 3.2rem;
    margin: .2em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: .1em;
    border-radius: 25px;
    background-color: #393C8A;
    box-shadow: inset 0 0 5px #000000;
    color: #9C9BC4;
    padding: .2em;
    text-align: center;
}

.questionBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: .4em;
    border-radius: 25px;
    background-color: white;
    box-shadow: 3px 3px 5px #393C8A;
    padding: .5em;
    text-align: center;
    height: 8em;
    font-size: 1.8em;
}

.bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 2.1em;
    height: 12em;
}

.answer1, .answer2, .answer3, .answer4, .menuBox {
    border-radius: 25px;
    background-color: white;
    margin: .2em;
    box-shadow: 3px 3px 5px #393C8A;
}

.answer1, .answer2, .answer3, .answer4 {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
}

.menuBox {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 1.9rem;
}

.menu1 {
    margin: .3em;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #393C8A;
    padding: .4em;
}

.message {  
    padding: .5em;
}

.greyedOut {
    color: rgba(0,0,0,0.1)
}

/* @media only screen and (max-width: 1025px), (max-height: 1366px) {

} */
