* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: #EE2C24;
}

body {
    background-color: white;
    font-family: 'Merienda One', cursive;
    font-size: 2vh;
}

main {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 1em;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    overflow: hidden;
    background-image: url('../images/background.png');
    background-repeat: repeat;
    background-size: 8vw;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 1em 0;
    height: 40vh
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: .1em;
    padding: .2em;
    background-image: url('../images/logo2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 10vh; 
}

.question-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: .4em;
    border-radius: 25px;
    box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 5px 0 rgba(0,0,0,.4), 
        inset 0 0 5px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
    background-image: linear-gradient(rgb(139, 202, 230), #2CAAE2);
    border: 1px double #2CAAE2;
    padding: .5em;
    text-align: center;
    height: 30vh;
    user-select: none;
    font-size: 2em;
}

.bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: .5em;
    font-size: 2em;
    height: 51vh;
}

.answer1, .answer2, .answer3, .answer4, .menu-box {
    border-radius: 25px;
    background-color: white;
    margin: .2em;
}

.answer1, .answer2, .answer3, .answer4 {
    /* grid-column: 1 / 2; */
    font-size: .9em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 5px 0 rgba(0,0,0,.4), 
        inset 0 0 5px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
    background-image: radial-gradient(rgba(82, 184, 71, .92) 60%, #54B948 40%);
    border: 1px double #54B948;
    color: white;
    text-shadow: 2px 2px 2px black;
    cursor: url('../images/hand.png'), auto;
    user-select: none;
}

.menu-box {
    grid-row: 1 / 5;
    grid-column: 2 / 2;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 5px 0 rgba(0,0,0,.4), 
        inset 0 0 5px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
    background-image: linear-gradient(rgb(235, 199, 103), #F9BF19);
}

.menu, .message, .score {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: .4em;
    box-shadow:
        inset 0 0 2px 0 rgba(255,255,255,.4),
        inset 0 0 5px 0 rgba(0,0,0,.4), 
        inset 0 0 5px 5px rgba(0,0,0,.05),
        2px 2px 4px 0 rgba(0,0,0,.25);
    background-color: #54B948;
    border: 1px solid #54B948;
    color: white;
    text-shadow: 2px 2px 2px black;
    transition: .4s ease;
    user-select: none;
    width: 20vw;
    height: 13vh;
}

.menu {
    cursor: url('../images/hand.png'), auto;
}

.greyed-out {
    color: rgba(0,0,0,0.1);
    text-shadow: none;
    transition: .4s ease;
}

.yellow {
    color: #F9BF19;
    text-shadow: 2px 2px 2px black;
    transition: .5s ease;
}

.white {
    color: rgba(255,255,255,1);
    text-shadow: 2px 2px 2px black;
    transition: .5s ease;
}

.hide {
    color: rgba(0,0,0,0);
    text-shadow: none;
    transition: .5s ease;
}

@keyframes flashingRed {
  0% { color: white; }
  50% {  color: red;}
  100% { color: white; }
}

@keyframes flashingGreen {
  0% { color: white; }
  50% {  color: green;}
  100% { color: white; }
}

.flashing-red {
    animation-name: flashingRed;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1.2s;
}

.flashing-green {
    text-shadow: 2px 2px 2px black;
    animation-name: flashingGreen;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 1.2s;
}

@media only screen and (max-width: 420px) {
    .top {  
        height: 40vh;
    }
    .question-box { 
        height: 33vh;
        font-size: 1.6em;
    }
    .bottom {
        grid-template-columns: 1fr;
        font-size: 1.1em;
    }
    .menu-box {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        flex-flow: row;
        height: 15vh;
        font-size: 1m;
    }
    .menu, .message, .score {
        width: 25vw;
    }
    .answer1, .answer2, .answer3, .answer4 {
        height: 7vh;
        font-size: .75em;
    }
}

@media only screen and (max-width: 775px) {
    .bottom {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1050px) {
    .bottom {
        font-size: 1.4em;
    }
}